.odd {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, DejaVu Sans, sans-serif;
}

.odd.cooler {
    font-size: 24px;
}

#solo {
    color:blue;
    font-size: 36px;
}

#notsolo {
    background-color: lightgreen;
    font-size:24px;
    font-weight: 700;
}